%h1 Sign up
%ol.breadcrumb
	%li= link_to 'HOME', root_path
	%li.active SIGN UP

.row
	.col-lg-6
		= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
			= f.error_notification
			.form-inputs
				= f.input :firstname, required: true, autofocus: true
				= f.input :lastname, required: true
				= f.input :email, required: true
				= f.input :phone_number
				= f.input :company
				= f.input :adress
				= f.input :password, required: true
				= f.input :password_confirmation, required: true
			.form-actions
				= f.button :submit, "Sign up", class: 'btn btn-primary'

.buttons
	= render "devise/shared/links"
