%h1 Editing category
%ol.breadcrumb
	%li= link_to 'CATEGORIES', root_path
	%li= link_to category.name, category_path
	%li.active EDIT

= render 'form'

.buttons
	%span= link_to 'Back', categories_path, class: 'btn btn-primary'
	%span= link_to 'Category details', category, class: 'btn btn-primary'
	%span= link_to 'List products', category_products_path(category), class: 'btn btn-primary'