%h1 New product
%ol.breadcrumb
	%li= link_to 'CATEGORIES', root_path
	%li= link_to category.name, category_path(category)
	%li= link_to 'PRODUCTS', category_products_path
	%li.active NEW

.row
	.col-lg-6
		= render 'form'

.buttons
	%span= link_to 'Back', category_products_path, class: 'btn btn-primary'