!!!
%html{ lang: 'en' }
  %head
    %title Netguru Poznań Workshops 2014 - ardhena
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    = render 'layouts/navbar'
    .container-fluid
      .row
        .col-lg-1
        .col-lg-10
          - if notice
            .alert.alert-success= notice
          - if alert || flash[:error]
            .alert.alert-danger= alert || flash[:error]
          = yield
        .col-lg-1